spawn-sh-at-startup "mkfifo $XDG_RUNTIME_DIR/wob_volume.sock"
spawn-sh-at-startup "mkfifo $XDG_RUNTIME_DIR/wob_bright.sock"
spawn-sh-at-startup "tail -f $WOBSOCK_BRI | wob -c ~/.config/wob/bright.ini &"
spawn-sh-at-startup "tail -f $WOBSOCK_VOL | wob -c ~/.config/wob/volume.ini &"

include "applications.kdl"

input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock //automatically enable numlock
    }
    // Next sections include libinput settings.
    touchpad {
        // off
        tap // effleurer fais cliquer
        dwt // disable-when-typing
        natural-scroll
        middle-emulation
    }

    mouse {
    }

    trackpoint {
        off
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

hotkey-overlay {
    skip-at-startup
}

binds{
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    {{- if eq .chezmoi.hostname "rabbit" }}
    F10 allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ && wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK_VOL";}
    F9 allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%- && wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK_VOL";}
    F8 allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    F7 allow-when-locked=true { spawn-sh "sh ~/.config/niri/scripts/wob-light+.sh";}
    F6 allow-when-locked=true { spawn-sh "sh ~/.config/niri/scripts/wob-light.sh";}
    F4 { screenshot;}
    {{- else }}
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ && wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK_VOL";}
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%- && wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK_VOL";}
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "sh ~/.config/niri/scripts/wob-light+.sh";}
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "sh ~/.config/niri/scripts/wob-light.sh";}
    {{end}}
    Mod+O repeat=false { toggle-overview; }

    Mod+F repeat=false { close-window; }

    Mod+dead_circumflex{ focus-column-first; }
    Mod+dollar { focus-column-last; }

    Mod+Ctrl+h { consume-or-expel-window-left; }
    Mod+Ctrl+j  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+k   { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+l { consume-or-expel-window-right; }
    Mod+h { focus-column-left; }
    Mod+j  { focus-window-down; }
    Mod+k   { focus-window-up; }
    Mod+l { focus-column-right; }

    Mod+Alt+j { focus-workspace-down; }
    Mod+Alt+k { focus-workspace-up; }
    Mod+Alt+h { focus-monitor-left;}
    Mod+Alt+l { focus-monitor-right;}
    Mod+Ctrl+Alt+h  { move-window-to-monitor-left; }
    Mod+Ctrl+Alt+j  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Alt+k  {  move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Alt+l { move-window-to-monitor-right; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R{ set-window-width "-10%"; }
    Mod+Shift+R{ set-window-width "+10%"; }
    Mod+Q{ set-window-height "-10%"; }
    Mod+Shift+Q{ set-window-height "+10%"; }
    Mod+G{ maximize-column; }
    Mod+Shift+G { fullscreen-window; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+KP_Subtract{ set-column-width "-10%"; }
    Mod+KP_Add { set-column-width "+10%"; }
    Mod+Shift+KP_Subtract{ set-window-height "-10%"; }
    Mod+Shift+KP_Add { set-window-height "+10%"; }
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Mod+x { spawn-sh "bash $HOME/.config/niri/scripts/powermenu.sh" ; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}

switch-events {
    lid-close { spawn "swaylock"; }
}
