/*#F4DAF2 EC80E3 CB3BBF 8E3086 
#FFF9E4 FFE38A FFD44A D1B046 
#DAF4EA 7FEBC2 3BCB95 308D6A*/

window#waybar {
    background-color: #cb3bbf;
    border-bottom: 3px solid #cb3bbf;
    color:white;
}

workspaces button {
    padding: 0 5px;
    background-color:red;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
}

#clock,
#backlight,
#network,
#pulseaudio,
#mode,
#idle_inhibitor,
#power-profiles-daemon {
    background-color: #8e3086;
}

#mode,
#idle_inhibitor,
#power-profiles-daemon {
    background-color: #8e3086;
}


