* {
  /* font-family: "CaskaydiaMono Nerd Font Propo"; */
  font-family: FiraCode Nerd Font Propo;
  font-size: 14px;
}

/* theme de la barre en elle meme */
window#waybar {
  background-color: rgba(153, 53, 144, 1);
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* sapplique au workspaces */
button {
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background: #FFF0C0;
  box-shadow: inset 0 -3px #E1BE4E;
}

#taskbar button.active {
  background: #FFF0C0;
  box-shadow: inset 0 -3px #E1BE4E;
}

button:hover {
  background: inherit;
}

#workspaces,
#pulseaudio,
#network,
#battery,
#backlight,
#power-profiles-daemon,
#clock {
  border: 1px solid #993590;
  padding: 0 12px;
  background-color: #C946BE;
  color: black
}
#taskbar,
#workspaces,
#network,
#backlight,
#battery,
/* #power-profiles-daemon, */
#clock {
  border-bottom:0;
}

#network,
#backlight,
#battery,
#pulseaudio,
#power-profiles-daemon{
  color:black;
}

#custom-anki,
#mpd,
#custom-kdeconnect{
  color:#ffc0fa;
}
#custom-anki{
  font-size: 9px;
  margin-left: 3px;
  margin-right: 3px;
  font-weight:900;
}

#mpd {
  color: #FFC0FA;
}


#taskbar {
  padding-top: 0;
}

#taskbar,
#workspaces,
#clock {
  background-color: #FFC0FA;
}
