binds {
    Mod+A  { spawn "bemoji";}
    Mod+Z  { spawn-sh "~/.config/niri/colorswitcher.sh";}
    Mod+E  { spawn "dolphin";}
    Mod+Space   { spawn "firefox";}
    Mod+T  { spawn "alacritty";}
    Mod+D  { spawn-sh "wofi --show drun" ;}
    Mod+Alt+L  { spawn "swaylock";}
    Mod+ampersand { spawn-sh "chromium --app=https://web.whatsapp.com";}
    Mod+eacute { spawn-sh "chromium --app=https://music.youtube.com";}
    Mod+quotedbl{ spawn-sh "chromium --app=https://drive.google.com";}
    Mod+apostrophe{ spawn-sh "chromium --app=https://devdocs.io";}
    Mod+parenleft{ spawn-sh "chromium --app=https://youtube.com";}
    //minus
    //egrave
    //underscore
    //ccedilla   
}
