environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
    DISPLAY ":0"
    EDITOR "hx"
    WOBSOCK "/run/user/1000/wob.sock"
    couleur "#F4DAF2 EC80E3 CB3BBF 8E3086 \n#FFF9E4 FFE38A FFD44A D1B046 \n#DAF4EA 7FEBC2 3BCB95 308D6A"
    PATH "/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/home/nestor/.local/bin:/home/nestor/.cargo/bin/"
}

include "layout.kdl"
include "startup.kdl"
include "shortcut.kdl"
include "themes/current.kdl"
include "output.kdl"

input {
    keyboard {
        xkb {
            layout "fr,us,it"
        }
        numlock //automatically enable numlock
    }

    // Next sections include libinput settings.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
// Settings that influence how windows are positioned and sized.

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
hotkey-overlay {
    skip-at-startup
}
switch-events {
    lid-close { spawn "playerctl" "pause" ;}
    lid-open { spawn "swaylock";}
}
prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

workspace "chat"

// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

window-rule {
    match app-id="^gimp" title="^Lancement de GIMP$"
    open-focused false
}

window-rule {
    match app-id="^blender$"
    match app-id="^gimp"
    default-column-width { fixed 1200; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"steam$"# title="^Friends List$"
    open-floating true
}

window-rule {
  match app-id="anki"
  default-column-display "tabbed"
}

/-window-rule{
  match app-id="Alacritty"
  open-floating true
}

window-rule{
  match app-id="vesktop"
  open-maximized true
  open-on-workspace "chat"
}
window-rule{
  match app-id="thunderbird"
  open-maximized true
  open-on-workspace "chat"
}
window-rule{
  match app-id="org.kde.kdeconnect.handler"
  open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}
