spawn-sh-at-startup "swayidle -w timeout 500 'swaylock'"
spawn-sh-at-startup "foot --server"
spawn-sh-at-startup "kdeconnectd"
spawn-sh-at-startup "syncthing --no-browser"
spawn-sh-at-startup "waybar"
spawn-sh-at-startup "darkman run"

window-rule {
    match app-id="^gimp" title="^Lancement de GIMP$"
    open-focused false
}

window-rule {
    match app-id="^blender$"
    match app-id="^gimp"
    default-column-width { fixed 1200; }
}

window-rule {
    match app-id=r#"steam$"# title="^Friends List$"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="org.kde.kdeconnect.handler"
    open-floating true
}

window-rule {
  match app-id="anki"
  default-column-display "tabbed"
}

window-rule {
    match app-id="^footclient$"
    open-maximized true
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="^foot$"
    open-floating true
    default-column-width { proportion 0.75; }
    default-window-height { fixed 500; }
}

environment {
    // TODO: nixify this part !!
    QT_QPA_PLATFORMTHEME "qt6ct"
    DISPLAY ":1"
    EDITOR "hx"
    VISUAL "hx"
    PAGER "less"
    WOBSOCK_VOL "/run/user/1000/wob_volume.sock"
    WOBSOCK_BRI "/run/user/1000/wob_bright.sock"
}
